<a href="https://colab.research.google.com/github/chiruconew/EXTRA/blob/main/MODELO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. CARGA DEL DATA SET Y CARGA DE LIBRERIAS INICIALES

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [4]:
url = 'https://raw.githubusercontent.com/chiruconew/EXTRA/main/data_set_dg.csv'
df  = pd.read_csv(url)

In [5]:
df.head()

   TELEFONO  CUOTA_BASICA  ... AVG_DIAS_PAGO_TARDE  DOWNSELL
0  52017983      198.9904  ...                -4.0        NO
1  55287011      499.0048  ...                -1.0        NO
2  53187495      298.9952  ...                 0.0        NO
3  57813259      224.9968  ...               -18.0        NO
4  40152016      298.9952  ...                -5.0        NO

[5 rows x 21 columns]

In [7]:
df_recortado = df.dropna()

           TELEFONO  CUOTA_BASICA  ...  AVG_DIAS_PAGO_A_TIEMPO  AVG_DIAS_PAGO_TARDE
count  1.015700e+04  10157.000000  ...            10157.000000         10157.000000
mean   4.548819e+07    472.932098  ...                9.918972            -3.286699
std    9.781400e+06    213.122423  ...                8.314043             6.151343
min    3.000016e+07     98.996800  ...                0.000000          -166.000000
25%    3.712187e+07    298.995200  ...                3.000000            -4.000000
50%    4.843955e+07    399.000000  ...                8.000000            -2.000000
75%    5.308374e+07    598.998400  ...               16.000000             0.000000
max    5.999998e+07   1498.000000  ...              169.000000             0.000000

[8 rows x 16 columns]

In [9]:
df_recortado['DOWNSELL'].replace({"NO": 0, "SI": 1}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
df_recortado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10157 entries, 1 to 17466
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   TELEFONO                        10157 non-null  int64
 1   CUOTA_BASICA                    10157 non-null  float64
 2   TIPO_PRODUCTO                   10157 non-null  object
 3   CAPACIDAD_PLAN_DATOS            10157 non-null  int64
 4   NIT                             10157 non-null  object
 5   ANEXOS_HOME                     10157 non-null  float64
 6   ANEXOS_MOBILE                   10157 non-null  float64
 7   MESES_CLIENTE_ANTIGUEDAD        10157 non-null  float64
 8   MESES_CONTRATO                  10157 non-null  float64
 9   DEPARTAMENTO_GUATEMALA          10157 non-null  object
 10  INICIO_DE_CONTRATO              10157 non-null  object
 11  SUBSIDIO                        10157 non-null  float64
 12  PAGO_DEVICE_CLIENTE             10157 non-null  float64
 13  PROMEDIO_CONSUMO_DATOS_GB       10157 non-null  float64
 14  CONSUMO_PORCENT_CUOTA           10157 non-null  float64
 15  FACTURAS_PAGADAS_EN_TIEMPO      10157 non-null  float64
 16  FACTURAS_PAGADAS_TARDE          10157 non-null  float64
 17  CANTIDAD_ABONOS_PARA_PAGAR_AVG  10157 non-null  float64
 18  AVG_DIAS_PAGO_A_TIEMPO          10157 non-null  float64
 19  AVG_DIAS_PAGO_TARDE             10157 non-null  float64
 20  DOWNSELL                        10157 non-null  int64
dtypes: float64(14), int64(3), object(4)
memory usage: 1.7+ MB