<a href="https://colab.research.google.com/github/chiruconew/EXTRA/blob/main/MODELO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. CARGA DEL DATA SET Y CARGA DE LIBRERIAS INICIALES

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [76]:
url = 'https://raw.githubusercontent.com/chiruconew/EXTRA/main/data_set_dg.csv'
df  = pd.read_csv(url)

In [77]:
df.head()

   TELEFONO  CUOTA_BASICA  ... AVG_DIAS_PAGO_TARDE  DOWNSELL
0  52017983      198.9904  ...                -4.0        NO
1  55287011      499.0048  ...                -1.0        NO
2  53187495      298.9952  ...                 0.0        NO
3  57813259      224.9968  ...               -18.0        NO
4  40152016      298.9952  ...                -5.0        NO

[5 rows x 21 columns]

**BORRAMOS LOS NA**

In [78]:
df_recortado = df.dropna()

**CONVERTTIMOS LA CLASE EN NUMERICA**

In [79]:
df_recortado['DOWNSELL'].replace({"NO": 0, "SI": 1}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

**ELIMINAMOS LAS COLUMNAS TELEFONO, NIT, e INICIO_DE_CONTRATO**

In [80]:
df_recortado = df_recortado.drop(['TELEFONO','NIT','INICIO_DE_CONTRATO'], axis=1)

In [81]:
df_recortado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10157 entries, 1 to 17466
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CUOTA_BASICA                    10157 non-null  float64
 1   TIPO_PRODUCTO                   10157 non-null  object
 2   CAPACIDAD_PLAN_DATOS            10157 non-null  int64
 3   ANEXOS_HOME                     10157 non-null  float64
 4   ANEXOS_MOBILE                   10157 non-null  float64
 5   MESES_CLIENTE_ANTIGUEDAD        10157 non-null  float64
 6   MESES_CONTRATO                  10157 non-null  float64
 7   DEPARTAMENTO_GUATEMALA          10157 non-null  object
 8   SUBSIDIO                        10157 non-null  float64
 9   PAGO_DEVICE_CLIENTE             10157 non-null  float64
 10  PROMEDIO_CONSUMO_DATOS_GB       10157 non-null  float64
 11  CONSUMO_PORCENT_CUOTA           10157 non-null  float64
 12  FACTURAS_PAGADAS_EN_TIEMPO      10157 non-null  float64
 13  FACTURAS_PAGADAS_TARDE          10157 non-null  float64
 14  CANTIDAD_ABONOS_PARA_PAGAR_AVG  10157 non-null  float64
 15  AVG_DIAS_PAGO_A_TIEMPO          10157 non-null  float64
 16  AVG_DIAS_PAGO_TARDE             10157 non-null  float64
 17  DOWNSELL                        10157 non-null  int64
dtypes: float64(14), int64(2), object(2)
memory usage: 1.5+ MB

##2.PREPROCESING

**Utilizamos ONE HOT ENCODE PARA EL TIPO DE PRODUCTO**

In [82]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)

In [83]:
from category_encoders import OneHotEncoder

In [84]:
onehot_enc = OneHotEncoder( use_cat_names=True)
df_train_tipoprod = onehot_enc.fit_transform(df_recortado['TIPO_PRODUCTO'])
df_recortado = pd.concat([df_recortado, df_train_tipoprod], axis=1)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning:

is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

In [88]:
df_recortado = df_recortado.drop(['TIPO_PRODUCTO'], axis=1)

KeyError: ignored

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10157 entries, 1 to 17466
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CUOTA_BASICA                    10157 non-null  float64
 1   CAPACIDAD_PLAN_DATOS            10157 non-null  int64
 2   ANEXOS_HOME                     10157 non-null  float64
 3   ANEXOS_MOBILE                   10157 non-null  float64
 4   MESES_CLIENTE_ANTIGUEDAD        10157 non-null  float64
 5   MESES_CONTRATO                  10157 non-null  float64
 6   DEPARTAMENTO_GUATEMALA          10157 non-null  object
 7   SUBSIDIO                        10157 non-null  float64
 8   PAGO_DEVICE_CLIENTE             10157 non-null  float64
 9   PROMEDIO_CONSUMO_DATOS_GB       10157 non-null  float64
 10  CONSUMO_PORCENT_CUOTA           10157 non-null  float64
 11  FACTURAS_PAGADAS_EN_TIEMPO      10157 non-null  float64
 12  FACTURAS_PAGADAS_TARDE          10157 non-null  float64
 13  CANTIDAD_ABONOS_PARA_PAGAR_AVG  10157 non-null  float64
 14  AVG_DIAS_PAGO_A_TIEMPO          10157 non-null  float64
 15  AVG_DIAS_PAGO_TARDE             10157 non-null  float64
 16  DOWNSELL                        10157 non-null  int64
 17  TIPO_PRODUCTO_C                 10157 non-null  int64
 18  TIPO_PRODUCTO_A                 10157 non-null  int64
 19  TIPO_PRODUCTO_Q                 10157 non-null  int64
dtypes: float64(14), int64(5), object(1)
memory usage: 1.6+ MB

**Utlilizamos en Frequency para el conteo de Departamentos**

In [87]:
from category_encoders import CountEncoder
count_enc_depto = CountEncoder( combine_min_nan_groups=True, min_group_size=35,min_group_name='OTROS')
df_recortado['DEPARTAMENTO_TRANS'] = count_enc_depto.fit_transform(df_recortado['DEPARTAMENTO_GUATEMALA'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10157 entries, 1 to 17466
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CUOTA_BASICA                    10157 non-null  float64
 1   CAPACIDAD_PLAN_DATOS            10157 non-null  int64
 2   ANEXOS_HOME                     10157 non-null  float64
 3   ANEXOS_MOBILE                   10157 non-null  float64
 4   MESES_CLIENTE_ANTIGUEDAD        10157 non-null  float64
 5   MESES_CONTRATO                  10157 non-null  float64
 6   DEPARTAMENTO_GUATEMALA          10157 non-null  object
 7   SUBSIDIO                        10157 non-null  float64
 8   PAGO_DEVICE_CLIENTE             10157 non-null  float64
 9   PROMEDIO_CONSUMO_DATOS_GB       10157 non-null  float64
 10  CONSUMO_PORCENT_CUOTA           10157 non-null  float64
 11  FACTURAS_PAGADAS_EN_TIEMPO      10157 non-null  float64
 12  FACTURAS_PAGADAS_TARDE          10157 non-null  float64
 13  CANTIDAD_ABONOS_PARA_PAGAR_AVG  10157 non-null  float64
 14  AVG_DIAS_PAGO_A_TIEMPO          10157 non-null  float64
 15  AVG_DIAS_PAGO_TARDE             10157 non-null  float64
 16  DOWNSELL                        10157 non-null  int64
 17  TIPO_PRODUCTO_C                 10157 non-null  int64
 18  TIPO_PRODUCTO_A                 10157 non-null  int64
 19  TIPO_PRODUCTO_Q                 10157 non-null  int64
 20  DEPARTAMENTO_TRANS              10157 non-null  int64
dtypes: float64(14), int64(6), object(1)
memory usage: 1.7+ MB

In [91]:
df_recortado = df_recortado.drop(['DEPARTAMENTO_GUATEMALA'], axis=1)
df_recortado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10157 entries, 1 to 17466
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CUOTA_BASICA                    10157 non-null  float64
 1   CAPACIDAD_PLAN_DATOS            10157 non-null  int64
 2   ANEXOS_HOME                     10157 non-null  float64
 3   ANEXOS_MOBILE                   10157 non-null  float64
 4   MESES_CLIENTE_ANTIGUEDAD        10157 non-null  float64
 5   MESES_CONTRATO                  10157 non-null  float64
 6   SUBSIDIO                        10157 non-null  float64
 7   PAGO_DEVICE_CLIENTE             10157 non-null  float64
 8   PROMEDIO_CONSUMO_DATOS_GB       10157 non-null  float64
 9   CONSUMO_PORCENT_CUOTA           10157 non-null  float64
 10  FACTURAS_PAGADAS_EN_TIEMPO      10157 non-null  float64
 11  FACTURAS_PAGADAS_TARDE          10157 non-null  float64
 12  CANTIDAD_ABONOS_PARA_PAGAR_AVG  10157 non-null  float64
 13  AVG_DIAS_PAGO_A_TIEMPO          10157 non-null  float64
 14  AVG_DIAS_PAGO_TARDE             10157 non-null  float64
 15  DOWNSELL                        10157 non-null  int64
 16  TIPO_PRODUCTO_C                 10157 non-null  int64
 17  TIPO_PRODUCTO_A                 10157 non-null  int64
 18  TIPO_PRODUCTO_Q                 10157 non-null  int64
 19  DEPARTAMENTO_TRANS              10157 non-null  int64
dtypes: float64(14), int64(6)
memory usage: 1.6 MB

In [17]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X=df_recortado,y=df_recortado['DOWNSELL'],test_size =0.2,statify = df_recortado['DOWNSELL'])

ValueError: ignored